# 1. Tuples
Tuples are used to store data of any data_type but it is totally different from List because we can't add or remove items in it. It is suitable where data is fixed i.e., months in a year or days in a week & etc.

# How to create Tuples
Tuples can be simply created by giving a name and put all the data in parenthesis and seprate each item with the help of commas.

# Example

In [1]:
month_name = ('Jan','Feb','March','April','May','Jun','July','Aug','Sep','Oct','Nov','Dec')

In [2]:
month_name

('Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec')

In [3]:
week_name=('Mon','Tue','Wed','Thur','Fri','Sat',"Sun")
week_name

('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')

In [4]:
digits =('0','1','2','3','4','5','6','7','8','9')
digits

('0', '1', '2', '3', '4', '5', '6', '7', '8', '9')

# Displaying Elements of Tuples Using Loop

In [6]:
for i in digits:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in month_name:
    print(i)

Jan
Feb
March
April
May
Jun
July
Aug
Sep
Oct
Nov
Dec

In [8]:
for i in week_name:
    print(i)

Mon
Tue
Wed
Thur
Fri
Sat
Sun

# Tuples can be created without parenthesis ()

In [10]:
vowels = 'a','e','i','o','u'
vowels

('a', 'e', 'i', 'o', 'u')

# Functions can be used in Tuples

# Count()
It is used to find the occurence of the specific element in a tuple.

# Example

In [14]:
month_name.count('Feb')

1

In [16]:
month_name.count('January')

0

In [17]:
week_name.count('Mon')

1

# # index()
It is used to find the Location of the specific element in a tuple.

In [18]:
month_name.index('Feb')

1

In [21]:
digits.index('8')

8

In [22]:
week_name.index('Fri')

4

# len()
It is used to find the Length or size of a tuple.

In [24]:
len(month_name)

12

In [25]:
len(week_name)

7

In [27]:
len(vowels)

5

# Slicing in Tuple()
It is used to display the elements of a tuples in specific order. The last parameter will be excluded.

In [29]:
month_name[1:3]

('Feb', 'March')

In [30]:
month_name[0:]

('Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec')

In [31]:
month_name[3:]

('April', 'May', 'Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')

In [33]:
vowels[:]

('a', 'e', 'i', 'o', 'u')

In [35]:
digits[0::2]

('0', '2', '4', '6', '8')

# Note: 
we can't add or remove elements in tuple but if we want to perform these operations we need to convert it into List or string then we can add or remove the elements and again we have to convert it into Tuple.

# Tuple() to List[]

In [36]:
list_month_name = list(month_name)
list_month_name

['Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [38]:
list_month_name.append("January")
list_month_name

['Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'January']

In [39]:
list_month_name.insert(5,'June')
list_month_name

['Jan',
 'Feb',
 'March',
 'April',
 'May',
 'June',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'January']

In [41]:
list_month_name.remove('June')
list_month_name

['Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'January']

In [42]:
list_month_name.remove('Dec')
list_month_name

['Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'January']

# List[ ] to Tuple()

In [43]:
tpl_month_name = tuple(list_month_name)
tpl_month_name

('Jan',
 'Feb',
 'March',
 'April',
 'May',
 'Jun',
 'July',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'January')

# 2. Functions
Independent block of code which executes independently, gives facility to reusability of code.

# Syntax to define a Function

In [46]:
#def function_name(Arugments):
            #body_of_the_function

# Examples

In [56]:
#Function to Print Hello World
def print_Hello():
    print("Hello")
print_Hello()

Hello

In [64]:
#Function to Print Sum of Two values
a=5
b=6
def Sum_val(a,b):
    print(a+b)
Sum_val(a,b)

11

In [67]:
#Function to Print Sum of Two values
def Sum_val(a,b):
    print(a+b)
Sum_val(5,6)

11

# Function Returning a Vlaue

In [73]:
def s(a,b):
    return(a+b)
s(9,10)

19

# Function to Check given string is palindrome or not

In [74]:
def str_palin(str):
    rev_str = str[::-1]
    if (str == rev_str):
        print("Palindrome")
    else:
        print("Not Palindrome")
str_palin("Alpha")
str_palin("madam")
str_palin("sir")

Not Palindrome
Palindrome
Not Palindrome

# 3. User Input()
By default python takes every input as a string, by taking input from user we need to convert into into desire output

In [79]:
#input your name & print 
name=input("Enter Your Name ")
name
type(name)

Enter Your Name M. Sajid Rashid

str

In [80]:
#input your father name & print 
fname=input("Enter Your Father Name ")
fname
type(fname)

Enter Your Father Name Dr. Rashid Ahmed

str

In [81]:
#input your age & print 
age=input("Enter Your Age ")
age = int(age)
age
type(age)

Enter Your Age 30

int

In [89]:
#input your height & print 
height=input("Enter Your Name ")
height = float(height)
type(height)

Enter Your Name 5.7

float

# Multi inputs() on a single line
we can take more than one input on a single line using split() function

In [91]:
n1, n2 = input("Enter two Number: ").split()
#after getting first input press space to get second input
n1 = int(n1)
n2 = int(n2)
print(n1+n2)

Enter two Number: 5 7
12

In [99]:
n1, n2 = input("Enter two Number: ").split(',')
#after getting first input press comma(,) to get second input
n1 = int(n1)
n2 = int(n2)
print(n1*n2)

Enter two Number: 5,8
40

In [97]:
n1, n2 = input("Enter two Number: ").split(',')
#after getting first input press space to get second input
n1 = int(n1)
n2 = int(n2)
if n1>n2:
    print("First Number is Greater")
elif n2>n1:
    print("Second Number is Greater")
else:
    print("Both are eqaual")

Enter two Number: 5,8
Second Number is Greater

In [100]:
#write a function to input base & exponent & find the power 
b,e =input('Enter Base & Exponent: ').split(',')
b = int(b)
e=int(b)
power=1, i=1
while i<=e:
    power = power*i
    i=i+1
print(power)

SyntaxError: cannot assign to literal (1662329738.py, line 5)